name: check_inputs
on: 
    workflow_call:
        inputs: 
            title:
                required: true
                type: string
            body:
                required: true
                type: string
    workflow_dispatch: 
        inputs: 
            title:
                required: true
                type: string
            body:
                required: true
                type: string        

jobs:
    create_issue_on_failure:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        steps:
            - name: Create issue using Rest api
              run: |
                curl --request POST \
                --url https://api.github.com/repos/${{ github.repository }}/issues \
                --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
                --header 'content-type: application/json' \
                --data '{
                "title": "Failure: ${{ inputs.title }}",
                "body": "Details: ${{ inputs.body }}"
                }'
                --fail
    
    setup:
        runs-on: ubuntu-latest
        steps:
            - name: Set debug output
              id: setup-debug-stage
              run: echo "BUILD_STAGE=debug" >> $GITUB_OUTPUT

            - name: Get Stage
              run: echo "The build stage is ${{ steps.setup-debug-stage.outputs.BUILD_STAGE }}"
