name: deployments_example
on:
    push:
        branches: [main]
    
    workflow_dispatch:
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.13'
            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: movies.json
                path: movies.json
                if-no-files-found: error
                retention-days: 1
    
    deploy-dev:
        needs: [build-and-test]
        if: github.ref == 'refs/heads/dev'
        runs-on: ubuntu-latest
        permissions:
            contents: write
        environment:
            name: dev
            url: https://gihub.com/${{ github.repository }}/releases/tag/v${{ vars.DEV_VERSION}}
        steps:
            - name: download artifact 
              uses: actions/download-artifact@v4
              with:
                name: movies.json
            
            - name: release to dev
              uses: softprops/action-gh-release@v2.3.2
                # softprops/action-gh-release@v2.3.2
              with:
                tag_name: ${{ vars.DEV_VERSION }}
                token: ${{ secrets.DEV_ENV_SECRET }}
                prerelease: true
                draft: true
                name: dev${{ vars.DEV_VERSION }}
                files: |
                  requirements.txt
                  main.py
                  movies.json
                  README.md

            

