name: deployments_example
on:
    push:
        branches: [master, dev]
    
    workflow_dispatch:
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.13'
            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: movies.json
                path: movies.json
                if-no-files-found: error
                retention-days: 1
    
    deploy-dev:
        needs: [build-and-test]
        if: github.ref == 'refs/heads/dev'
        runs-on: ubuntu-latest
        environment:
            name: dev
            url: https://github.com/${{ github.repository }}/releases/tag/v${{ vars.DEV_VERSION }}

